extends layout

block content
  h1= title
  h5 Welcome to #{title}
  div(class="container-fluid border text-center")
    br
    br
    p ********Place for Game Explanation********
    br
  br
  div(class="container-fluid border")
    div(class="row gx-5")
      div(class="col")
        a(href="/join", class="btn btn-primary") Play Game Session
      div(class="col")
        a(href="", class="btn btn-outline-primary") Admin/Moderator Login

    
  
