extends layout

block content
  article
    section(class="my-3")
      h1(class="display-1 text-center bg-primary bg-gradient bg-opacity-25 rounded px-1")= title
      hr
    section(class="my-3")
      p(class="fs-6 text-white") 
        | Welcome to my little Web-Browser Game called GameOverTinction. #[br] 
        | It's a copy-cat from the physical board game "Nobodey is perfect", but just brought for you to the world wide web ;&#41; #[br]
        | However is currently in development and therefore it's just like an helpful extension you can play in combination with the real physical board game.
    section(class="card border-primary border-opacity-50 my-3")
      div(class="card-body")
        h2(class="card-title") How to play
        ol(class="list-group list-group-numbered fs-6 py-1 m-0")
          li(class="list-group-item") Take out your physical "Nobodey is perfect" board game. 
          li(class="list-group-item") Build up the normal game setup as you would do without this web app.
          li(class="list-group-item") Click the button below to start.
    section(class="card border-primary border-opacity-50 my-3")
      div(class="card-body text-center")
        h2(class="card-title mb-3") Let's go !
        a(href="/join", class="btn btn-secondary w-50 justify-content-center", role="button") Click to Play

    
  
