extends layout

block content
  article
    section(class="my-3")
      h1(class="display-1 text-center bg-primary bg-gradient bg-opacity-25 rounded px-1")= title
    hr
    section(class="text-white px-2 my-3")
      p(class="mb-2") Welcome to my little Web-Browser Game called #[span(class="text-secondary fw-bold text-nowrap text-decoration-underline") GameOverTinction]. 
      p(class="mb-2") It's a copy-cat from the physical board game #[span(class="text-secondary fw-bold text-nowrap text-decoration-underline") Nobody is perfect], but just brought for you to the world wide web ;&#41;
      p(class="mb-2") However is currently in development and therefore it's just like an helpful extension you can play in combination with the real physical board game.
    section(class="card border-primary border-opacity-50 my-3")
      div(class="card-body")
        h2(class="card-title") How to play
        ol(class="list-group list-group-numbered")
          li(class="list-group-item") Take out your physical "Nobody is perfect" board game.
          hr(class="m-0 border border-primary border-1 border-opacity-25")
          li(class="list-group-item") Build up the normal game setup as you would do without this web app.
          hr(class="m-0 border border-primary border-1 border-opacity-25")
          li(class="list-group-item") Click the button below to start.
    section(class="card border-primary border-opacity-50 my-3")
      div(class="card-body text-center")
        h2(class="card-title mb-3") Let's go !
        a(href="/join", class="btn btn-secondary w-50 justify-content-center", role="button") Click to Play

    
  
