extends layout

block content
  article
    section(class="my-3")
      h1(class="display-1")= title
      hr
    section(class="my-3")
      p(class="text-white my-3") Please select one of the available games below to play!
      if (list_games.length === 0)
        h4(class="alert alert-warning", role="alert") Sorry, no games currently available!
      else
        div(class="vstack gap-3 my-3")
          each game in list_games
            div(class="card border-primary border-opacity-50")
              div(class="card-body")
                h3(class="card-title text-decoration-underline")= game.name
                p(class="card-subtitle mb-2") - / #{game.maxPlayers} players joined
                a(href=game.url, class="btn btn-secondary w-50", role="button") Click to Join