extends layout_baseGame

block game_content
  p(class="fs-5 text-white my-3") Vote for an answer by ticking an option below
  // Error Messages
  section(class="my-3")
    +formError("Vote",valErrors)
  // Vote Form
  section(class="card border-primary border-opacity-50 p-2 my-3")
    form(method='POST', action='')
      // Vote Radios
      ul(class="list-group mb-3")
        each aNl in answersAndLetters
          li(class="list-group-item fs-6")
            input(class="form-check-input m-0 me-2", type="radio", name="playerVote", id=("radio_"+aNl.session.answerLetter), value=(aNl.session.answerLetter+". "+aNl.session.playerAnswer), required)
            label(class="form-check-label pe-5", for=("radio_"+aNl.session.answerLetter)) #[strong #{aNl.session.answerLetter}.] #{aNl.session.playerAnswer} 
      // Submit Button
      button(type="submit", class="btn btn-secondary w-100") Submit