extends layout

block content
  article
    section(class="my-3")
      h1(class="display-1")= title
    hr
    section(class="my-3")
      p(class="fs-6 text-white") No content yet, this site is currently under construction!