extends layout_baseGame

block game_content
  // Instruction Text
  p(class="text-white my-3") Type &#32;
    span(class="fw-bold")= (isMod ? "the correct answer from the card" : "your answer")  
    span &#32; in the textfield below
  // Error Messages
  section(class="my-3")
    +formError("Answer",valErrors)
  // Answer Form
  section(class="card border-primary border-opacity-50 p-2 my-3")
    form(method='POST', action='')
      // Answer Text-Field
      div(class="mb-3")
        div(class="p-2 border border-2 border-opacity-50", class=sess_user.playerAnswer ? "border-success" : "border-danger")
          label(for="playerAnswer", class="form-label fw-bolder") Your Answer:
          textarea(id="playerAnswer", name="playerAnswer", class="form-control",  
          placeholder="Enter your answer here", aria-describedby="playerAnswerHelp", 
          rows=8, maxlength=250, required)= (sess_user.playerAnswer ? sess_user.playerAnswer : localPlayerAnswer)
          div(id="playerAnswerHelp", class="form-text") max. 250 characters allowed
        +un-saved("answer", !!sess_user.playerAnswer)
      // Userhidden fields
      input(type="hidden" id="isModAnswerType" name="isModAnswerType" value=""+isMod)
      // Submit Button
      button(type="submit", class="btn btn-secondary w-100") Submit