extends layout_baseGame 

block game_content
  section(class="my-3")
    p(class="alert alert-info text-center", role="alert") 
      span The game is currently at the &#32;
      span(class="fw-bold text-nowrap text-decoration-underline") "#{db_game.gameStatus}"
      span &#32; phase!
  section(class="my-3")
    if (!sess_user.isInRound)
      p(class="alert alert-secondary text-center", role="alert") 
        span You are currently not part of the ongoing round, &#32;
        span(class="fw-bold text-decoration-underline") click the continue button
        span &#32; below if the next round is ready!