extends layout_baseGame

block game_content
  p(class="fs-5 text-white my-3") Type your answer in the textfield below
  // Error Messages
  section(class="my-3")
    +formError("Answer",valErrors)
  // Answer Form
  section(class="card border-primary border-opacity-50 p-2 my-3")
    form(method='POST', action='')
      // Answer Text-Field
      div(class="mb-3")
        label(for="playerAnswer", class="form-label fw-bolder fs-6") Your Answer:
        textarea(id="playerAnswer", name="playerAnswer", class="form-control", 
        class=sess_user.playerAnswer ? "is-valid" : "is-invalid", 
        rows=8, placeholder="Enter your answer here", 
        aria-describedby="playerAnswerHelp", maxlength=250, 
        required)= (sess_user.playerAnswer ? sess_user.playerAnswer : localPlayerAnswer)
        div(id="playerAnswerHelp", class="form-text") max. 250 characters allowed
      // Submit Button
      button(type="submit", class="btn btn-secondary w-100") Submit