extends layout_baseGame 

block game_content
  section(class="my-3")
    p(class="alert alert-info", role="alert") 
      | The game is currently at the #[span(class="fw-bold") "#{db_game.gameStatus}"] phase!
  if (!sess_user.isInRound)
    section(class="my-3")
      p(class="alert alert-secondary", role="alert") 
        | You are currently not part of the ongoing round,
        | #[span(class="fw-bold") click the continue button] below if the next round is ready!