extends layout

block content
  section(id="game_title", class="my-3")
    h1(class="display-1")= title
  hr
  p(class="text-white my-3") Do you really want to quit from all games?
  h6(class="alert alert-danger", role="alert") All session data like Player Name, etc. will be lost !
  section(class="my-3")
    div(class="container-fluid text-center p-0")
      div(class="row gy-2")
        div(class="col")
          a(class="btn btn-outline-primary w-100", href="/join", role="button") Cancel
        div(class="col")
          // Quit Form
          form(method='POST', action='')
            // Submit Button
            button(type="submit", class="btn btn-primary w-100 border border-2 border-primary") Click to quit
  hr